body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    margin-top: 50px;
    font-size: 72px;
}
#container {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 30px;

}
input{
    font-size: 1.5rem;
    width: 150px;
}

 button{
    font-size: 1.5rem;
    background-color: rgb(26, 95, 197);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

button:hover{
   background-color: rgb(117, 193, 255);
   color: rgb(0, 0, 0);
   box-shadow: 2px 2px 10px rgba(3, 3, 143, 0.333);
   cursor: pointer;
}
button:active{
    background-color: #ffe6a1;
    transform: scale(0.98);
}